<!DOCTYPE html>
<html>
<head>
<link href='../css/navbar-css.css' <link href='../css/navbar-big-css.css' media="screen and (min-device-width: 800px)" rel='stylesheet'> rel='stylesheet'>


</head>
<div class='container navbar'>
	<div class="nav-icon">
	<img class='nav-icon' src='../images/pitected-logo.png'>
	</div>
	
	<a class='nav-link link1' href='#'>Link 1</a>
	
	<a class='nav-link link1' href='#'>Link 2</a>
	<a  class='nav-link link1'href='#'>Link 3</a>

	<div class='nav-username'>
	Username
	</div>
</div>
<body>


<script src='../extensions/angular/angular.min.js'></script>
<script src='../extensions/angular/angular-resource.min.js'></script>
<script src='../extensions/angular/route.js'></script>
<script src='../scripts/app.js'></script>
</body>

</html>